/* styles.css */

/* Colores personalizados */
:root {
  --color-primary: #c93384;
  --color-secondary: #ffc1ff;
  --color-tertiary: #ff97d9;
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* STYLO PARA EL BACKGROUND */

/* FIN DE STYLO PARA EL BACKGROUND */


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos del encabezado */
header {
  background-color: var(--color-primary);
  padding: 10px;
  height: 90px; /* Ajusta esto al tamaño que prefieras */
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  header {
    display:block;
    padding: 10px;
    height: 110px;
  }
}

h2 {
  color: var(--color-primary);
  font-size: 24px;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-brand {
  color: var(--color-secondary);
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: 160px;
}

@media (max-width: 992px) {
  .navbar-brand {
    margin-left: 20px;
    margin-top: -30px;
  }
}

.navbar-brand img {
  max-height: 100%;
  object-fit: contain;
  margin: 0;
}

.navbar-nav {
  list-style: none;
  display: flex;
}

.navbar-nav .nav-link {
  color: var(--color-secondary) !important; /* Cambia esto al color que prefieras */
}

.navbar-nav .nav-link:hover {
  color: var(--color-tertiary) !important; /* Cambia esto al color que prefieras */
}

.navbar-nav .dropdown-menu .dropdown-item {
  color: var(--color-secondary) !important; /* Cambia esto al color que prefieras */
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
  color: var(--color-primary) !important; /* Cambia esto al color que prefieras */
}

.navbar-nav .dropdown-menu .dropdown-item:active {
  background-color: #ffffff !important; /* Cambia esto al color que prefieras */
}

.navbar-toggler {
  background-color: var(--color-secondary);
}

@media (max-width: 992px) {
  .navbar-toggler {
    margin-left: 20px;
    margin-top: -20px;
    color: var(--color-tertiary)
  }
}

@media (max-width: 360px) {
  .navbar-toggler {
    margin-left: auto;
    margin-right: 0;
  }
}

.navbar-toggler-collapse {
  background-color: var(--color-primary);
}

@media (max-width: 992px) {
  .navbar-collapse {
    background-color: var(--color-primary);
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    text-align: right;
}
}

@media (max-width: 992px) {
  .navbar-collapse .dropdown-menu {
    text-align: right;
}
}

.nav-item {
  margin-left: 10px;
}

.nav-link {
  color: var(--color-secondary);
  text-decoration: none;
}

.dropdown-menu {
  background-color: var(--color-primary);
}

/* Estilos de las secciones */
section {
  padding: 50px 0;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Estilos de los mini cards de Section Servicios y productos "Style domino"*/

#servicios .stretched-link {
  text-decoration: none; /* Elimina el subrayado */
}

#servicios .card-body{
  color: black; /* Color de texto */
  font-weight: bold; /* Texto en negrita */
  margin-bottom: 10px;
  padding-bottom: 0%;
}

#servicios .card:hover {
  background-color: var(--color-tertiary); /* Color de fondo */
}

#servicios .card-title{
  color: black; /* Color de texto */
  font-weight: bold; /* Texto en negrita */
  font-size: 16px; /* Tamaño de fuente */
  margin-bottom: 10px;
  padding-top: 20px; /* Añade espacio en la parte superior del título */
}

/* Estilos de los mini cards de Section Servicios y productos "Style domino"*/

#servicios .mini-card {
  width: 190px;
  height: 254px;
  background: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: #333;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  transition: all 0.7s ease-in-out;
  overflow: hidden;
  border: 2px solid var(--color-primary); /* Borde más grueso */
  box-shadow: 0 0 10px var(--color-primary); /* Sombra alrededor de la card para darle relieve */
}

/* Estilos para las mini-cards en pantallas pequeñas (menos de 600px de ancho) */
@media (max-width: 600px) {
  #servicios .mini-card {
    width: 100%; /* Las mini-cards ocuparán todo el ancho de la pantalla */
    height: auto; /* La altura se ajustará automáticamente según el contenido */
    margin-bottom: 20px; /* Añade un margen en la parte inferior para separar las mini-cards */
  }
}

#servicios .mini-card:hover {
  box-shadow: 0 5px 15px var(--color-primary); /* Sombra más grande al pasar el mouse */
  transform: translateY(-10px); /* Mueve la card hacia arriba */
}

#servicios .mini-card::before {
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background-color: var(--color-tertiary);
  bottom: 0;
  right: 0;
  transform: translatey(70px);
  border-radius: 100%;
  transition: all 0.7s ease-in-out;
}

#servicios .mini-card::after {
  top: 70%; /* Posiciona el pseudo-elemento ::after más abajo en la card */
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-tertiary);
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  z-index: 1;
}

#servicios .mini-card:hover {
  box-shadow: 0 5px 15px var(--color-primary); /* Sombra más grande al pasar el mouse */
  transform: translateY(-10px); /* Mueve la card hacia arriba */
  color: #f3f3f3;
}

#servicios .mini-card:hover::before {
  transform: scale(7) translate(-20px);
}

#servicios .card-img-top, #servicios .card-title {
  position: relative;
  z-index: 2; /* Sitúa la imagen y el título por encima de la capa de color */
}

/* Estilos del carousel */
.carousel {
  margin-bottom: 50px;
}

.carousel-item {
  text-align: center;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}

/* Estilos adicionales */
.text-center {
  text-align: center;
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-tertiary {
  color: var(--color-tertiary);
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    margin-left: 0;
    margin-top: 10px;
  }
}

/* Esta clase eliminará cualquier margen superior del elemento al que se aplique */
.no-margin-top {
  margin-top: 0 !important;
}

/* Estilos para el carrousel de servicios y productos */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(128, 128, 128, 0.5); /* Gris transparente */
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  width: 5%;
  height: 50px;
  padding: 0;
  margin: 0;
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

/* Animacion Boton */
/* Estilo para el botón */
.btn-primary {
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

/* Estilo para el botón al pasar el mouse por encima o al enfocarlo */
.btn-primary:hover, .btn-primary:focus {
  background-color: var(--color-secondary); /* Nuevo color de fondo */
  border-color: var(--color-tertiary); /* Nuevo color de borde */
}

/* Estilos de las tarjetas */
.card {
  border: 2px solid var(--color-tertiary);
  border-radius: 15px;
  box-shadow: 5px 5px 10px var(--color-tertiary);
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in-out;
  overflow: hidden;
}

.card:hover {
  box-shadow: 10px 10px 20px var(--color-secondary);
}

/* Estilo para la animación al hacer clic en la tarjeta (solo en dispositivos móviles) */
@media (hover: none) {
  .card:active {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }
}

.card-header {
  background-color: var(--color-tertiary);
  color: #fff;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.card-body {
  padding: 20px;
}

.card-text {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Estilo para los enlaces en los títulos de las tarjetas */
.card-title {
  color: black; /* Color de texto */
  font-weight: bold; /* Texto en negrita */
  font-size: 15px;
  margin-bottom: 10px;
}

.card-body .card-title a {
  color: var(--color-primary); /* Color de texto */
  text-decoration: none; /* Elimina el subrayado */
  font-family: var(--font-primary);
  font-size: medium;
}

/* Estilo para los enlaces en los títulos de las tarjetas al pasar el mouse por encima */
.card-body .card-title a:hover {
  color: var(--color-tertiary); /* Color de texto al pasar el mouse por encima (naranja suave) */
}

.card-body p {
  font-size: 12px;
}

/* Estilo para la imagen del card */
.card-img-carousel {
  width: 100%;
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}

/* Estilo para la imagen del card cuando el usuario pasa el mouse sobre ella */
.card-img-carousel:hover {
  transform: scale(1.05);
}

/* Estilo para el botón de la tarjeta del carousel*/

.svg-icon {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-whatsapp" viewBox="0 0 16 16"><path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z"></path></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  height: 1em;
  width: 1em;
  position: absolute;
  top: 0.35em;
  right: 0.5em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
}

/* Añade esta regla para cambiar la opacidad en hover */
.button-wp:hover .svg-icon {
  opacity: 1;
}

.button-wp button {
  background-color: #fff;
  border: 3px solid #c93384;
  padding: 5px;
  position: relative;
  width: 6.2em;
  height: 2em;
  transition: 0.5s;
  font-size: 17px;
  border-radius: 0.4em;
}

/* Estilo para el botón dentro del card en pantallas pequeñas */
@media (min-width: 320px) and (max-width: 389px) { 
  .button-wp {
    display: flex;
    justify-content: center;
  }

  .button-wp button p {
    padding-right: 10% !important;
    left: 0.70em !important;
}

  .button-wp button:hover p {
    font-size: 12px;
    padding-top: 5%;
  }
}

/* media queries para pantalla de iPhone 14 Max Pro, iPhone XR y piexel 7*/
@media (min-width: 390px) and (max-width: 960px) {
  .button-wp {
    display: flex;
    justify-content: center;
  }

  .button-wp button p {
    padding-right: 10% !important;
    left: 1.3em !important;
}

  .button-wp button:hover p {
    font-size: 13px;
    padding-top: 3%;
  }
}


.button-wp button p {
  position: absolute;
  top: 0.2em;
  left: 1.15em;
  margin: 0;
  padding: 0;
  transition: .5s;
  color: var(--color-primary);
  font-weight: bold;
  font-size: 16px;
}

.button-wp button svg {
  position: absolute;
  top: 0.35em;
  right: 0.5em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  height: 1em;
  fill: #fff
}

.button-wp button:hover p {
  left: 0.5em;
  color: #fff
}

.button-wp button:hover svg {
  opacity: 1;
}

.button-wp button:hover {
  background-color: #c93384;
}

/* Estilos para la sección de contacto */
.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: inherit;
  gap: 10px;
  padding-inline: 2em;
  padding-bottom: 0.4em;
  background-color: var(--color-primary);
  border-radius: 20px;
}

.form-heading {
  text-align: center;
  margin: 2em;
  color: var(--color-secondary);
  font-size: 1.2em;
  background-color: transparent;
  align-self: center;
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: var(--color-primary);
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: var(--color-secondary);
  padding-inline: 1em;
}

/* Estilos para el texto del placeholder */
.input-field::placeholder {
  color: var(--color-secondary); /* Cambia este valor al color que desees */
}

.sendMessage-btn {
  cursor: pointer;
  margin-bottom: 3em;
  padding: 1em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--color-secondary);
  font-weight: bold;
  outline: 1px solid var(--color-secondary);
  transition: all ease-in-out 0.3s;
}

.sendMessage-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  cursor: pointer;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.form-card1 {
  background-image: linear-gradient(163deg, var(--color-secondary) 0%, var(--color-secondary) 100%);
  border-radius: 22px;
  transition: all 0.3s;
}

.form-card1:hover {
  box-shadow: 0px 0px 30px 1px rgba(100, 255, 218, 0.3);
}

.form-card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.form-card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}


/* Estilos del pie de página */
footer {
  background-color: var(--color-primary);
  padding: 20px;
  color: var(--color-secondary);
  text-align: center;
}

.social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: var(--color-secondary);
}

.social-icons li {
  margin: 0 10px;
}

.social-icons a {
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 24px;
}

/* Estilos para el enlace del desarrollador en el pie de página */
.developer-link {
  color: inherit; /* El color del enlace será el mismo que el del texto circundante */
  text-decoration: none; /* Elimina el subrayado automático de los enlaces */
  transition: color 0.3s ease, background-size 0.3s ease; /* Transición suave para los cambios de color y tamaño de fondo */
  background-image: linear-gradient(currentColor, currentColor); /* Crea una línea con el mismo color que el texto */
  background-position: 0% 100%; /* Posiciona la línea en la parte inferior del texto */
  background-repeat: no-repeat; /* Evita que la línea se repita */
  background-size: 0% 2px; /* Inicialmente, la línea tiene un ancho de 0% (no visible) y una altura de 2px */
}

.developer-link:hover {
  color: var(--color-tertiary); /* Cambia el color del enlace al pasar el mouse */
  background-size: 100% 2px; /* Al pasar el mouse, la línea se expande para tener el mismo ancho que el texto */
}

/* Estilos para nav SELECT BOTON SERVICIOS Y PRODUCTOS */

/* #select-button {
  background-color: var(--color-primary);
}

#select-button .wrapper {
  --font-color-dark: #fefefe;
  --font-color-light: #111;
  --bg-color: #111;
  --main-color: #fefefe;
  position: relative;
  width: 300px;
  height: 45px;
  background-color: var(--color-primary);
  border: 2px solid var(--color-secondary);
  border-radius: 34px;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px var(--color-secondary);
}

#select-button .option {
  width: 146px;
  height: 37px;
  position: relative;
  top: 2px;
  left: 2px;
}

#select-button .input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  appearance: none;
  cursor: pointer;
}

#select-button .btn {
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#select-button .span {
  color: var(--color-secondary);
  text-decoration: none;
}

#select-button .input:checked + .btn {
  background-color: var(--color-secondary);
}

#select-button .input:checked + .btn .span {
  color: var(--color-primary);
} */